Repository hspedro/babeltron: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: poetry-check
        name: Check if Poetry lock file is up to date
        entry: bash -c 'poetry check && poetry lock'
        language: system
        pass_filenames: false
        files: ^pyproject\.toml$

    -   id: lint
        name: Run linting checks
        entry: bash -c 'make lint'
        language: system
        pass_filenames: false
        types: [python]

chore(ci): remove update badge action
  .github/workflows/update-version-badge.yml
  README.md
Due: none

fix(docker): posix and shell entrypoint
  Dockerfile.with-model
  Makefile
  docker-entrypoint.sh
  pyproject.toml
Due: poetry-check

chore: parameterize server port
  Dockerfile
  Makefile
  README.md
  docker-compose.yml
  docker-entrypoint.sh
Due: none

feat(scripts): support to download NLLB
  Makefile
  babeltron/scripts/download_models.py
  tests/unit/scripts/test_download_models.py
Due: lint

feat(api): add support for NLLB
  README.md
  babeltron/app/config.py
  babeltron/app/main.py
  babeltron/app/models/__init__.py
  babeltron/app/models/base.py
  babeltron/app/models/factory.py
  babeltron/app/models/m2m100.py
  babeltron/app/models/nllb.py
  babeltron/app/routers/healthcheck.py
  babeltron/app/routers/translate.py
  babeltron/app/tracing.py
  babeltron/app/utils.py
  babeltron/version.py
  docker-compose.yml
  docs/CONTRIBUTING.md
  tests/conftest.py
  tests/unit/app/models/test_factory.py
  tests/unit/app/models/test_m2m.py
  tests/unit/app/models/test_m2m100.py
  tests/unit/app/models/test_nllb.py
  tests/unit/app/routers/test_healthcheck.py
  tests/unit/app/routers/test_translate.py
  tests/unit/app/test_main.py
  tests/unit/app/test_utils.py
Due: lint

chore: bump to v0.4.0
  pyproject.toml
Due: poetry-check

docs: add architecture overview
  README.md
  docs/Architecture.md
  docs/images/1_download.png
  docs/images/2_init.png
  docs/images/3_translation.png
  docs/images/alternatives.png
  docs/images/deployment.png
  docs/images/overview.png
Due: none

test: fix model fixtures
  tests/unit/app/routers/test_translate.py
Due: lint

test: fix NLLB model fixtures
  tests/unit/app/routers/test_translate.py
Due: lint

feat(auth): re-enable auth middleware
  README.md
  babeltron/app/config.py
  babeltron/app/main.py
  babeltron/app/middlewares/auth.py
  docker-compose.yml
  tests/conftest.py
  tests/unit/app/middlewares/test_auth.py
  tests/unit/app/routers/test_translate.py
Due: lint

docs(README): fix overview path
  README.md
Due: none

chore(docker): make all envs customizable
  docker-compose.yml
Due: none

chore(otel): fix jaeger exporter config
  etc/otel-collector-config.yaml
Due: none

chore(make): prefer docker compose as plugin
  Makefile
Due: none

chore: remove deprecated doc and log
  README.md
  babeltron/app/models/m2m100.py
Due: lint

chore(docker): add GPU driver support
  Dockerfile
Due: none

chore: bump to v0.5.0
  pyproject.toml
Due: poetry-check

feat: add GPU support (#13)
  Dockerfile
  Makefile
  README.md
  babeltron/app/models/m2m100.py
  docker-compose.yml
  etc/otel-collector-config.yaml
  pyproject.toml
Due: poetry-check, lint

refactor(api): translate models to its folder
  babeltron/app/models/__init__.py
  babeltron/app/models/translation/__init__.py
  babeltron/app/models/translation/base.py
  babeltron/app/models/translation/factory.py
  babeltron/app/models/translation/m2m100.py
  babeltron/app/models/translation/nllb.py
  babeltron/app/routers/healthcheck.py
  babeltron/app/routers/translate.py
  tests/unit/app/models/translation/__init__.py
  tests/unit/app/models/translation/test_factory.py
  tests/unit/app/models/translation/test_m2m100.py
  tests/unit/app/models/translation/test_nllb.py
  tests/unit/app/routers/test_healthcheck.py
  tests/unit/app/routers/test_translate.py
Due: lint

feat(api): add language detection route using Lingua
  Makefile
  README.md
  babeltron/app/config.py
  babeltron/app/main.py
  babeltron/app/models/detection/__init__.py
  babeltron/app/models/detection/base.py
  babeltron/app/models/detection/factory.py
  babeltron/app/models/detection/lingua.py
  babeltron/app/monitoring.py
  babeltron/app/routers/detect.py
  babeltron/scripts/download_models.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/unit/app/models/detection/test_factory.py
  tests/unit/app/models/detection/test_lingua.py
  tests/unit/app/routers/test_detect.py
Due: poetry-check, lint

fix(api): translate endpoint auto detect src lang
  README.md
  babeltron/app/routers/translate.py
  tests/unit/app/routers/test_translate.py
Due: lint

feat(monitoring): add detect label
  babeltron/app/monitoring.py
  tests/unit/app/test_monitoring.py
Due: lint

fix(api): model_type as model attribute
  babeltron/app/models/detection/lingua.py
  babeltron/app/models/translation/base.py
  babeltron/app/models/translation/m2m100.py
  babeltron/app/models/translation/nllb.py
  pyproject.toml
  tests/unit/app/test_monitoring.py
Due: poetry-check, lint

chore(ci): disable push to docker in release
  .github/workflows/release.yml
Due: none

fix(poetry): lock and monitoring tests
  poetry.lock
  tests/unit/app/test_monitoring.py
Due: lint

feat(api): add language detection (#14)
  .github/workflows/release.yml
  Makefile
  README.md
  babeltron/app/config.py
  babeltron/app/main.py
  babeltron/app/models/__init__.py
  babeltron/app/models/detection/__init__.py
  babeltron/app/models/detection/base.py
  babeltron/app/models/detection/factory.py
  babeltron/app/models/detection/lingua.py
  babeltron/app/models/translation/__init__.py
  babeltron/app/models/translation/base.py
  babeltron/app/models/translation/factory.py
  babeltron/app/models/translation/m2m100.py
  babeltron/app/models/translation/nllb.py
  babeltron/app/monitoring.py
  babeltron/app/routers/detect.py
  babeltron/app/routers/healthcheck.py
  babeltron/app/routers/translate.py
  babeltron/scripts/download_models.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/unit/app/models/detection/test_factory.py
  tests/unit/app/models/detection/test_lingua.py
  tests/unit/app/models/translation/__init__.py
  tests/unit/app/models/translation/test_factory.py
  tests/unit/app/models/translation/test_m2m100.py
  tests/unit/app/models/translation/test_nllb.py
  tests/unit/app/routers/test_detect.py
  tests/unit/app/routers/test_healthcheck.py
  tests/unit/app/routers/test_translate.py
  tests/unit/app/test_monitoring.py
Due: poetry-check, lint

feat(api): add cache interface and valkey impl
  babeltron/app/cache/__init__.py
  babeltron/app/cache/base.py
  babeltron/app/cache/valkey.py
  babeltron/app/config.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
  tests/unit/app/cache/__init__.py
  tests/unit/app/cache/test_valkey.py
Due: poetry-check, lint

feat(api): cache in translate and detect
  Dockerfile
  Makefile
  babeltron/app/cache/service.py
  babeltron/app/cache/utils.py
  babeltron/app/cache/valkey.py
  babeltron/app/routers/detect.py
  babeltron/app/routers/translate.py
  etc/otel-collector-config.yaml
  poetry.lock
  pyproject.toml
  tests/unit/app/cache/test_service.py
  tests/unit/app/cache/test_utils.py
  tests/unit/app/routers/test_cache_integration.py
  tests/unit/app/routers/test_detect.py
  tests/unit/app/routers/test_translate.py
Due: poetry-check, lint

feat(api): add cache (#15)
  Dockerfile
  Makefile
  babeltron/app/cache/__init__.py
  babeltron/app/cache/base.py
  babeltron/app/cache/service.py
  babeltron/app/cache/utils.py
  babeltron/app/cache/valkey.py
  babeltron/app/config.py
  babeltron/app/routers/detect.py
  babeltron/app/routers/translate.py
  docker-compose.yml
  etc/otel-collector-config.yaml
  poetry.lock
  pyproject.toml
  tests/unit/app/cache/__init__.py
  tests/unit/app/cache/test_service.py
  tests/unit/app/cache/test_utils.py
  tests/unit/app/cache/test_valkey.py
  tests/unit/app/routers/test_cache_integration.py
  tests/unit/app/routers/test_detect.py
  tests/unit/app/routers/test_translate.py
Due: poetry-check, lint

chore: remove support to py 3.13
  .github/workflows/main.yml
Due: none

chore: bump to v0.7.1
  pyproject.toml
Due: poetry-check

chore: remove support to py 3.13 (#16)
  .github/workflows/main.yml
  pyproject.toml
Due: poetry-check
