Repository hspedro/babeltron: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: poetry-check
        name: Check if Poetry lock file is up to date
        entry: bash -c 'poetry check && poetry lock'
        language: system
        pass_filenames: false
        files: ^pyproject\.toml$

    -   id: lint
        name: Run linting checks
        entry: bash -c 'make lint'
        language: system
        pass_filenames: false
        types: [python]

feat(api): add distributed tracing with logging
  README.md
  babeltron/app/main.py
  babeltron/app/routers/healthcheck.py
  babeltron/app/routers/translate.py
  babeltron/app/tracing.py
  babeltron/app/utils.py
  docker-compose.yml
  etc/otel-collector-config.yaml
  poetry.lock
  pyproject.toml
  tests/unit/app/routers/test_healthcheck.py
  tests/unit/app/routers/test_translate.py
  tests/unit/app/test_main.py
  tests/unit/app/test_utils.py
Due: poetry-check, lint

chore(ci): do not upload to codecov on test
  .github/workflows/test.yml
Due: none

feat: add distributed tracing, prometheus and grafana (#4)
  .github/workflows/test.yml
  README.md
  babeltron/app/main.py
  babeltron/app/routers/healthcheck.py
  babeltron/app/routers/translate.py
  babeltron/app/tracing.py
  babeltron/app/utils.py
  docker-compose.yml
  etc/otel-collector-config.yaml
  poetry.lock
  pyproject.toml
  tests/unit/app/routers/test_healthcheck.py
  tests/unit/app/routers/test_translate.py
  tests/unit/app/test_main.py
  tests/unit/app/test_utils.py
Due: poetry-check, lint

feat(api): add basic auth
  README.md
  babeltron/app/main.py
  babeltron/app/middlewares/__init__.py
  babeltron/app/middlewares/auth.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
  pytest.ini
  tests/conftest.py
  tests/mocks/opentelemetry_mock.py
  tests/unit/app/routers/test_translate.py
Due: poetry-check, lint

feat(api): add basic auth (#5)
  README.md
  babeltron/app/main.py
  babeltron/app/middlewares/__init__.py
  babeltron/app/middlewares/auth.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
  pytest.ini
  tests/conftest.py
  tests/mocks/opentelemetry_mock.py
  tests/unit/app/routers/test_translate.py
Due: poetry-check, lint

chore(ci): publish to github container registry
  .github/workflows/publish-docker.yml
  .github/workflows/publish.yml
  Dockerfile
  babeltron/app/routers/translate.py
Due: lint

chore(ci): publish to github container registry (#6)
  .github/workflows/publish-docker.yml
  .github/workflows/publish.yml
  Dockerfile
  babeltron/app/routers/translate.py
Due: lint

refactor(model): create abstraction for model interface
  .gitignore
  babeltron/app/main.py
  babeltron/app/models/__init__.py
  babeltron/app/models/base.py
  babeltron/app/models/factory.py
  babeltron/app/models/m2m.py
  babeltron/app/routers/healthcheck.py
  babeltron/app/routers/translate.py
  babeltron/app/tracing.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/mocks/opentelemetry.py
  tests/unit/app/middlewares/__init__.py
  tests/unit/app/middlewares/test_auth.py
  tests/unit/app/models/__init__.py
  tests/unit/app/models/test_m2m.py
  tests/unit/app/routers/test_healthcheck.py
  tests/unit/app/routers/test_translate.py
  tests/unit/app/test_utils.py
Due: poetry-check, lint

refactor(model): create abstraction for model interface (#7)
  .gitignore
  babeltron/app/main.py
  babeltron/app/models/__init__.py
  babeltron/app/models/base.py
  babeltron/app/models/factory.py
  babeltron/app/models/m2m.py
  babeltron/app/routers/healthcheck.py
  babeltron/app/routers/translate.py
  babeltron/app/tracing.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/mocks/opentelemetry.py
  tests/unit/app/middlewares/__init__.py
  tests/unit/app/middlewares/test_auth.py
  tests/unit/app/models/__init__.py
  tests/unit/app/models/test_m2m.py
  tests/unit/app/routers/test_healthcheck.py
  tests/unit/app/routers/test_translate.py
  tests/unit/app/test_utils.py
Due: poetry-check, lint

chore: add docker-entrypoint with gunicorn
  Dockerfile
  babeltron/app/main.py
  babeltron/app/models/m2m.py
  babeltron/app/tracing.py
  docker-compose.yml
  docker-entrypoint.sh
  poetry.lock
  pyproject.toml
  tests/unit/app/middlewares/test_auth.py
  tests/unit/app/models/test_m2m.py
  tests/unit/app/test_main.py
  tests/unit/app/test_monitoring.py
Due: poetry-check, lint

docs: fix badges being outdated
  README.md
Due: none

chore: fix publish docker triggers
  .github/workflows/publish-docker.yml
  .github/workflows/publish.yml
Due: none

chore: dynamic version
  babeltron/app/main.py
  pyproject.toml
Due: poetry-check, lint

chore: add docker-entrypoint with gunicorn (#8)
  .github/workflows/publish-docker.yml
  .github/workflows/publish.yml
  Dockerfile
  README.md
  babeltron/app/main.py
  babeltron/app/models/m2m.py
  babeltron/app/tracing.py
  docker-compose.yml
  docker-entrypoint.sh
  poetry.lock
  pyproject.toml
  tests/unit/app/middlewares/test_auth.py
  tests/unit/app/models/test_m2m.py
  tests/unit/app/test_main.py
  tests/unit/app/test_monitoring.py
Due: poetry-check, lint

chore: add write permissions to publish job
  .github/workflows/publish.yml
Due: none

docs: fix test broken badge
  README.md
Due: none

docs: fix branch in tests badge
  README.md
Due: none

chore: bump version to v0.3.1
  README.md
  pyproject.toml
Due: poetry-check

chore(ci): free disk space on docker publish
  .github/workflows/publish-docker.yml
  .github/workflows/publish.yml
Due: none

refactor(tracing): add jaeger thrift exporter
  babeltron/app/routers/translate.py
  babeltron/app/tracing.py
  docker-compose.yml
  etc/otel-collector-config.yaml
  pyproject.toml
  pytest.ini
  tests/conftest.py
Due: poetry-check, lint

chore(ci): dynamic badge
  README.md
  babeltron/app/main.py
Due: lint

refactor(tracing): add jaeger thrift exporter (#9)
  README.md
  babeltron/app/main.py
  babeltron/app/routers/translate.py
  babeltron/app/tracing.py
  docker-compose.yml
  etc/otel-collector-config.yaml
  pyproject.toml
  pytest.ini
  tests/conftest.py
Due: poetry-check, lint

chore(ci): add dynamic badge assets
  .github/badges/version.json
  .github/workflows/update-version-badge.yml
Due: none

chore(docker): fix worker count int parser
  docker-compose.yml
  docker-entrypoint.sh
Due: none

chore(docker): build image variant with model embedded
  .github/workflows/build-push-model-image.yml
  Dockerfile.with-model
  scripts/test-model-container.sh
Due: none

chore(docker): add jaeger-sampling for local deploy
  etc/jaeger-sampling.json
Due: none

Chore/k8s deploy (#10)
  .github/badges/version.json
  .github/workflows/build-push-model-image.yml
  .github/workflows/update-version-badge.yml
  Dockerfile.with-model
  docker-compose.yml
  docker-entrypoint.sh
  etc/jaeger-sampling.json
  scripts/test-model-container.sh
Due: none

chore(ci): fix docker with model img action
  .github/workflows/build-push-model-image.yml
  Dockerfile.with-model
Due: none

chore(ci): fix docker with model img action (#11)
  .github/workflows/build-push-model-image.yml
  Dockerfile.with-model
Due: none

chore(ci): remove pypi integration
  .github/workflows/publish.yml
  README.md
Due: none

chore: bump to v0.3.4
  pyproject.toml
Due: poetry-check

Update version badge to 0.3.4
  .github/badges/version.json
Due: none

chore(ci): refactor release pipeline
  .github/workflows/publish-image-with-model.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

chore(ci): fix model download to embed in img
  .github/workflows/publish-image-with-model.yml
  babeltron/scripts/download_models.py
  pyproject.toml
Due: poetry-check, lint

Update version badge to 0.3.5
  .github/badges/version.json
Due: none

chore(docker): docker ignore and img with model embedded
  .dockerignore
  .github/workflows/publish-image-with-model.yml
  Dockerfile.with-model
  Makefile
  docker-entrypoint.sh
  recovered_download_models.py
  scripts/test-model-container.sh
Due: lint

chore(ci): fix commat format on version badge
  .github/workflows/update-version-badge.yml
Due: none

refactor(api): add /api/v1 prefix
  README.md
  babeltron/app/main.py
  pyproject.toml
  scripts/test-model-container.sh
  tests/unit/app/middlewares/test_auth.py
  tests/unit/app/routers/test_translate.py
Due: poetry-check, lint

chore(version): update version badge to 0.3.6
  .github/badges/version.json
Due: none

chore(Makefile): receive image name as arg in build docker
  Makefile
Due: none
