Repository hspedro/babeltron: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: poetry-check
        name: Check if Poetry lock file is up to date
        entry: bash -c 'poetry check && poetry lock'
        language: system
        pass_filenames: false
        files: ^pyproject\.toml$

    -   id: lint
        name: Run linting checks
        entry: bash -c 'make lint'
        language: system
        pass_filenames: false
        types: [python]

fix(api): use get_languages on /languages
  babeltron/app/routers/translate.py
  pyproject.toml
  tests/unit/app/routers/test_translate.py
Due: poetry-check, lint

fix(api): use get_languages on /languages (#17)
  babeltron/app/routers/translate.py
  pyproject.toml
  tests/unit/app/routers/test_translate.py
Due: poetry-check, lint

docs(README): prune duplicated content
  README.md
Due: none

feat(nllb): normalize language codes
  babeltron/app/models/translation/nllb.py
Due: lint

refactor(translate) cache query param
  babeltron/app/routers/translate.py
  tests/unit/app/routers/test_translate.py
Due: lint

refactor(detect): add cache skipping param
  babeltron/app/routers/detect.py
  tests/unit/app/routers/test_detect.py
Due: lint

Feat/language mapping (#18)
  babeltron/app/models/translation/nllb.py
  babeltron/app/routers/detect.py
  babeltron/app/routers/translate.py
  tests/unit/app/routers/test_detect.py
  tests/unit/app/routers/test_translate.py
Due: lint

chore(project): bump version to v0.8.0
  pyproject.toml
Due: poetry-check
